body {
  background-color: #9ac6c0;
  text-align: center;
  color: #fff;
  font-family: sans-serif; }

h1 {
  padding: 10px;
  font-size: 3rem; }

#icons {
  display: flex;
  justify-content: space-around; }

#logo {
  margin: auto;
  background-image: url("aux-img-white.png");
  background-size: cover;
  width: 200px;
  height: 200px; }

#login-container {
  padding: 10px; }

#Bob {
  background-color: red; }
