html {
  height: 100%; }

body {
  background-color: whitesmoke;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center; }

#app {
  height: 100%; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  color: #0E4F7A; }

p {
  line-height: 1.5; }

.navRow {
  display: flex;
  align-items: center;
  justify-content: center; }

.navContainer {
  background-color: white;
  padding: 2em;
  border-radius: 2px; }

div#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end; }

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column; }
  .main-container h2 {
    color: black;
    font-family: "Roboto", sans-serif; }
  .main-container img {
    align-items: center;
    align-content: stretch;
    margin-bottom: 2em; }
    .main-container img .main-image {
      display: flex;
      align-self: left; }

.fa-list {
  text-align: right; }

i.fa {
  color: #000; }

.btnRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  width: 100%; }
  .btnRow .btn {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%; }

span.titleSpan {
  font-weight: 700;
  color: #0E4F7A; }

ul.nav.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }

.paddingtopbottom {
  margin: 6em 0; }

.paddingbottom {
  margin-bottom: 6em; }

.paddingtop {
  margin-top: 6em; }

.panel-group {
  margin-bottom: 0px; }

.joinedIndAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: .8em 0; }

.unjoin-btn {
  display: inline-block;
  float: right; }

.likenolike {
  display: flex;
  justify-content: center;
  align-content: space-around; }
  .likenolike .navbar-nav {
    margin: 0px; }

.btn-success {
  background-color: #43AFFF; }

.btn-success:active {
  background-color: #0E4F7A; }

.btn-warning {
  background-color: tomato; }

.btn-warning:active {
  background-color: #B2302C; }

.actionDetails {
  position: fixed;
  margin-top: 20px;
  width: 100%; }

.nav-logo {
  height: 2.5em;
  margin-top: 7px; }

form {
  width: 95%; }
  form input.chatInput {
    width: 100%;
    padding: 0.5em; }

a .media-body {
  color: black; }

h6 .media-body {
  margin-top: 0px; }

p .media-body {
  margin: 0px; }

p .boldheader {
  font-weight: bold; }

#app {
  width: 100%; }

.settings-btn {
  margin: 1em 0; }

#add-action-btn {
  margin-top: 3em; }

#logout-btn {
  background-color: tomato;
  color: #fff; }

.fa-hand-lizard-o {
  opacity: 0; }

#joined-title {
  font-size: 2em; }
