@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $mainbackgroundcolor;
   // background-image: url('https://s-media-cache-ak0.pinimg.com/736x/8c/37/2a/8c372a3ab8429583096bc996d25dcacb.jpg');
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  height: 100%; 
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headerfont;
  color: $headerColor;
}

p {
  line-height: 1.5;
}

.navRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  background-color: white;
  padding: 2em;
  border-radius: 2px;
}

div#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: $maincolor;
    font-family: $headerfont;
  }

  // p {
  //   // margin-top: 1em;
  // }

  img {
    align-items: center;
    align-content: stretch;
    margin-bottom: 2em;
    
    .main-image {
      display: flex;
      align-self: left;
    } 
  }
}

.fa-list {
  text-align: right;
}

i.fa {
  color: $headerColor;
}

.btnRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 300px;
  width: 100%;
  
  .btn {
    margin-right: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
    width: 40%;
  }
}

span.titleSpan {
  font-weight: 700;
  color: $headerColor;
} 

ul.nav.navbar-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.paddingtopbottom {
  margin: 6em 0;
}

.paddingbottom {
  margin-bottom: 6em;
}

.paddingtop {
  margin-top: 6em;
}

.panel-group {
  margin-bottom: 0px;
}

.joinedIndAction {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin: .8em 0;
}

.unjoin-btn {
  display: inline-block;
  float: right;
}

.likenolike {
  display: flex;
  justify-content: center;
  align-content: space-around;
  
  .navbar-nav {
      margin: 0px;
  }
}

.actionDetails {
  position: fixed;
  margin-top: 20px;
  width: 100%;
}

.nav-logo {
  height: 2.5em;
  margin-top: 7px;
}

// .main.container {
//   padding: -2px;
// }

form {
    width: 95%;

  input.chatInput {
    width: 100%;
    padding: 0.5em;
  }
}

a { 
  .media-body {
    color: black;
  }
}

h6 {
  .media-body {
    margin-top: 0px;
  }
}

p {
  .media-body {
    margin: 0px;
  }
  .boldheader {
    font-weight: bold;
  }
}

#app {
  width: 100%;
}

.settings-btn {
  margin: 1em 0;
}

#add-action-btn {
  margin-top: 3em;
}

#logout-btn {
  background-color: tomato;
}
