@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: rgba(91, 60, 85,1);
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  height: 100%; 
}

.navRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  background-color: white;
  padding: 2em;
  border-radius: 2px;
  max-width: 65%;
}

.main-nav {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: rgba(91, 60, 85,1);
    font-family: 'Lalezar', cursive;
  }

  p {
    margin-top: 1em;
  }

  img {
    align-items: center;
    align-content: stretch;
    margin-bottom: 2em;
  }
}

img.main-image {
  max-width: 500px;
  max-height: 500px;
  display: flex;
  align-self: left;
}

.fa-list {
  text-align: right;
}