@import 'variables';
@import 'mixins';

html {
  height: 100%;
}

body {
  background-color: $mainbackgroundcolor;
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#app {
  height: 100%; 
}

h1 {
  font-family: $headerfont;
  margin-bottom: 4em;
}

p {
  font-size: 14pt;
}

.navRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.navContainer {
  background-color: white;
  padding: 2em;
  border-radius: 2px;
}

div#main-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.main-container {
  display: flex;
  justify-content: center;
  flex-direction: column;

  h2 {
    color: $maincolor;
    font-family: $headerfont;
  }

  p {
    margin-top: 1em;
  }

  img {
    align-items: center;
    align-content: stretch;
    margin-bottom: 2em;
    
    .main-image {
      display: flex;
      align-self: left;
    } 
  }
}

.fa-list {
  text-align: right;
}

.btnRow {
  display: flex;
  justify-content: center;
  align-items: center;
  
  .btn {
    margin-right: 1em;
    margin-top: 2em;
    width: 40%;
  }
}